<div class='box'>
    <div class='main'>
      <h1>Forget page</h1>
  
      <form (ngSubmit)="onforget()">
        <input type="text" placeholder='Email' [(ngModel)]="email" name="email" />
        <input type="password" placeholder='New Password'[(ngModel)]="new_password" name="new_password" />

        <button type="submit">Renew</button>

        <div class="secondlink">
          <a href="/register">Register Now</a>
          <a href="/home">Home Page</a>
        </div>
      </form>
    </div>
  </div>