<div class="maincontact">
    <div class="image">
        <img src="../../assets/contactIMG2.jpg" alt="cotactimage" class="img">
    </div>
    <div class="contactbox">
        <div class="box1">
            <form (ngSubmit)="onsubmit()">
                <input type="text" placeholder="Enter Your Name" [(ngModel)]="name" name="name" class="input">
                <input type="text" placeholder="Enter Your Email" [(ngModel)]="email" name="email" class="input">
                <textarea placeholder="Enter Message" [(ngModel)]="message" name="message"></textarea>

                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
</div>